.wselect-top{
  width: 40%;
  margin: 0 auto;
  height: 20px;
  text-align: center;
}
.wselect-top ul{
    margin:0;
    padding: 0;
    height: 20px;
    line-height: 20px;
  }
  .wselect-top li{
    padding: 0;
    background: #409eff;
    margin: 0;
    list-style: none;
    font-size: 12px;
    border-radius:5px;
    color: #fff;
    text-align: center;
    border-right: 1px solid #fff; 
    float: left;
    width: 20%;
    height: 20px;
    line-height: 20px;
  }
  .wselect-top li a{
    display: block;
    height: 20px;
    line-height: 20px;
  }
  .router-link-active{
  background:#fff;
  font-size: 16px;
  color:#8edafc;
  }